.ClientDashboard_Body{
    width: 100vw;
}
.ExpertDashboard_TopNavigation{
    margin: 20px 0 10px 0;
    position: absolute;
    left: 260px;
    top: 0px;
    border-left: 1px solid #d3d3d3;
}

@media only screen and (max-width: 1024px) {
    .ExpertDashboard_TopNavigation{
        left: 220px;
    }
}

@media only screen and (max-width: 426px) {
    .ExpertDashboard_TopNavigation{
        left: 70px;
    }
}