.ExpertSideNavigation {
    border-right: 1px solid #d3d3d3;
    height: 100%;
    position: fixed;
    padding: 40px 30px 10px 30px;
    overflow-y: auto;
    overflow-x: hidden;
}

.ProfileInformation {
    display: flex;
    padding-bottom: 30px;
}

.ProfileInformation img {
    width: 70px;
    height: 70px;
    border-radius: 35px;
    margin-right: 5px;
}
.ProfileInformation .Information{
    margin-top: 10px;
}

.ProfileInformation .Information h2{
    font-size: 18px;
}

.ProfileInformation .Information p{
    font-size: 10px;
    color: rgba(27, 27, 30, 0.29);
}


.ProfileInformation .Information em{
    font-size: 8px;
    color: #0057c2;
    border: 1px solid #0057c2;
    padding: 3px;
    border-radius: 10px;
}

.Navigation .Nav_Link {
    margin: 20px;
    text-decoration: none;
    color: black;
    display: flex;
}

.Navigation .Nav_Link p {
    margin-top: 3px;
}

.Navigation .Icons {
    padding-right: 5px;
    width: 25px;
    height: 25px;
}

.ExpertAccountPage_Top_Navigation{
    margin-top: 20px;
    width: 76%;
    position: absolute;
    height: 37px;
    left: 269px;
    top: 0px;
}

@media only screen and (max-width: 1024px) {
    .ExpertAccountPage_Top_Navigation{
        width: 70%;
        left: 250px;
    }
    .ExpertSideNavigation {
        padding-top: 40px;
    }
}

@media only screen and (max-width: 768px) {
    .ExpertAccountPage_Top_Navigation{
        width: 82%;
    }
    .ExpertSideNavigation {
        padding-left: 20px;
    }
}

@media only screen and (max-width: 426px) {
    .Navigation .Nav_Link p {
        display: none;
    }
    .ProfileInformation .Information{
        display: none;
    }  
    .ExpertSideNavigation {
        padding-left: 2px ;
        padding-right: 2px;
    }
    .ProfileInformation img {
        width: 50px;
        height: 50px;
        border-radius: 35px;
    }
    .ExpertAccountPage_Top_Navigation{
        width: 80%;
        left: 70px;
    }
    .Navigation .Nav_Link {
        margin: 0 0 30px 0;
    }
}