.ProfileForm_Body {
    margin-top: 20px;
    width: 80vw;
    overflow-x: hidden;
}

.ProfileForm_Body .Form .ProfileForm_Name,
.ProfileForm_Body .Form .ProfileForm_Number_Email {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.ProfileForm_Body .Form .ProfileForm_Name .Name,
.ProfileForm_Body .Form .ProfileForm_Number_Email .Number_Email,
.ProfileForm_Body .Form .Description,
.ProfileForm_Body .Form .CVupload {
    color: #d4d4d4;
    font-size: 20px;
}

.ProfileForm_Body .Form .ProfileForm_Name [type = "name"],
.ProfileForm_Body .Form .ProfileForm_Number_Email [type = "number"],
.ProfileForm_Body .Form .ProfileForm_Number_Email [type = "email"] {
    width: 400px;
    height: 20px;
    padding: 10px;
    border: 1px solid #d3d3d3;
    border-radius: 10px;
}

.ProfileForm_Body .Form .ProfileForm_Number_Email,
.ProfileForm_Body .Form .Description,
.ProfileForm_Body .Form .CVupload,
.ProfileForm_Body .Form Button{
    margin-top: 20px;
}

.ProfileForm_Body .Form .Textarea{
    width: 91%;
    height: 80px;
    padding: 10px;
    border: 1px solid #d3d3d3;
    border-radius: 10px;
}

.ProfileForm_Body .Form ::-webkit-file-upload-button{
    padding: 10px 20px;
    border: 1px solid #d3d3d3;
    border-radius: 10px;
    color: black;
    background-color: #d4d4d4;
    cursor: pointer;
}

.ProfileForm_Body .Form [type="file"] {
    width: 93%;
    border: 1px solid #d3d3d3;
    border-radius: 10px;
}

.ProfileForm_Body .Form .Form_Submit{
    text-align: center;
    margin-bottom: 30px;
}

.ProfileForm_Body .Form [type="submit"]{
   padding: 10px 50px;
   background-color: #0057c2;
   border: 1px solid #d3d3d3;
   border-radius: 10px;
   color: white;
   cursor: pointer;
}

@media only screen and (max-width: 1024px) {
    .ProfileForm_Body {
        width: 75vw;
    }
    .ProfileForm_Body .Form .ProfileForm_Name .Name,
    .ProfileForm_Body .Form .ProfileForm_Number_Email .Number_Email,
    .ProfileForm_Body .Form .Description,
    .ProfileForm_Body .Form .CVupload {
        font-size: 18px;
    }
    .ProfileForm_Body .Form .ProfileForm_Name [type = "name"],
    .ProfileForm_Body .Form .ProfileForm_Number_Email [type = "number"],
    .ProfileForm_Body .Form .ProfileForm_Number_Email [type = "email"] {
        width: 320px;
    }
    .ProfileForm_Body .Form .Textarea{
        width: 89%;
    }
    
    .ProfileForm_Body .Form [type="file"] {
        width: 92%;
    }
}

@media only screen and (max-width: 769px) {
    .ProfileForm_Body {
        width: 68vw;
    }
    .ProfileForm_Body .Form .ProfileForm_Name,
    .ProfileForm_Body .Form .ProfileForm_Number_Email {
        flex-direction: column;
        width: 450px;
    }
    .ProfileForm_Body .Form .ProfileForm_Name [type = "name"],
    .ProfileForm_Body .Form .ProfileForm_Number_Email [type = "number"],
    .ProfileForm_Body .Form .ProfileForm_Number_Email [type = "email"] {
        width: 450px !important;
    }
    .ProfileForm_Body .Form .ProfileForm_Name .Name,
    .ProfileForm_Body .Form .ProfileForm_Number_Email .Number_Email,
    .ProfileForm_Body .Form .Description,
    .ProfileForm_Body .Form .CVupload {
        font-size: 16px;
    }
    .ProfileForm_Body .Form .Textarea{
        width: 87%;
    }
    
    .ProfileForm_Body .Form [type="file"] {
        width: 91%;
    }
}

@media only screen and (max-width: 426px) {
    .ProfileForm_Body {
        width: 75vw;
    }
    .ProfileForm_Body .Form .ProfileForm_Name,
    .ProfileForm_Body .Form .ProfileForm_Number_Email {
        flex-direction: column;
        width: 280px;
    }
    .ProfileForm_Body .Form .ProfileForm_Name [type = "name"],
    .ProfileForm_Body .Form .ProfileForm_Number_Email [type = "number"],
    .ProfileForm_Body .Form .ProfileForm_Number_Email [type = "email"] {
        width: 280px !important;
    }
    .ProfileForm_Body .Form .ProfileForm_Name .Name,
    .ProfileForm_Body .Form .ProfileForm_Number_Email .Number_Email,
    .ProfileForm_Body .Form .Description,
    .ProfileForm_Body .Form .CVupload {
        font-size: 16px;
    }  
    .ProfileForm_Body .Form [type="file"] {
        width: 93%;
    }
}

@media only screen and (max-width: 376px) {
    .ProfileForm_Body {
        width: 75vw;
    }
    .ProfileForm_Body .Form .ProfileForm_Name,
    .ProfileForm_Body .Form .ProfileForm_Number_Email {
        flex-direction: column;
        width: 250px;
    }
    .ProfileForm_Body .Form .ProfileForm_Name [type = "name"],
    .ProfileForm_Body .Form .ProfileForm_Number_Email [type = "number"],
    .ProfileForm_Body .Form .ProfileForm_Number_Email [type = "email"] {
        width: 250px !important;
    }
    .ProfileForm_Body .Form .ProfileForm_Name .Name,
    .ProfileForm_Body .Form .ProfileForm_Number_Email .Number_Email,
    .ProfileForm_Body .Form .Description,
    .ProfileForm_Body .Form .CVupload {
        font-size: 14px;
    }  
    .ProfileForm_Body .Form [type="file"] {
        width: 94%;
    }
    .ProfileForm_Body .Form .Form_Submit{
        margin-bottom: 50px;
    }
}

@media only screen and (max-width: 320px) {
    .ProfileForm_Body {
        width: 75vw;
    }
    .ProfileForm_Body .Form .ProfileForm_Name,
    .ProfileForm_Body .Form .ProfileForm_Number_Email {
        flex-direction: column;
        width: 210px;
    }
    .ProfileForm_Body .Form .ProfileForm_Name [type = "name"],
    .ProfileForm_Body .Form .ProfileForm_Number_Email [type = "number"],
    .ProfileForm_Body .Form .ProfileForm_Number_Email [type = "email"] {
        width: 210px !important;
    }
    .ProfileForm_Body .Form .ProfileForm_Name .Name,
    .ProfileForm_Body .Form .ProfileForm_Number_Email .Number_Email,
    .ProfileForm_Body .Form .Description,
    .ProfileForm_Body .Form .CVupload {
        font-size: 12px;
    }  
    .ProfileForm_Body .Form .Textarea{
        width: 84%;
    }
    .ProfileForm_Body .Form [type="file"] {
        width: 92%;
    }
    .ProfileForm_Body .Form .Form_Submit{
        margin-bottom: 50px;
    }
}