.VacantJobs_Body {
    margin: 30px 0 40px 10px;
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.VacantJobs_Body .VacantJob_Card {
    border: 1px solid #ebecf0;
    width: fit-content;
    height: fit-content;
    padding: 20px 10px ;
    border-radius: 10px;
    margin: 0 10px 10px 0;
}

.VacantJob_Card h1 {
    font-size: 25px;
    color: #0057c2;
}

.VacantJob_Card .Location {
    display: flex;
    gap: 5px; 
    color: black;
}
.VacantJob_Card .Location p {
    color: #d3d3d3;
    font-size: 16px;
}

.VacantJob_Card h2 {
    font-size: 14px;
    font-weight: 500;
    margin-top: 10px;
    color: black;
}

.VacantJob_Card  .Price_Button{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}

.VacantJob_Card  .Price_Button h3{
    font-size: 20px;
    color: #fb5017;
}

.VacantJob_Card  .Price_Button Button{
    padding: 5px 15px;
    margin-top: -5px;
    border: none;
    border-radius: 15px;
    color: white;
    background-color: #0057c2;
    cursor: pointer;
}

@media only screen and (max-width: 1024px) {
    .VacantJobs_Body{
        grid-template-columns: repeat(2, 1fr);
    }
    .VacantJobs_Body .VacantJob_Card {
        width: 350px;
        margin: 0 0 30px 0;
    }
}

@media only screen and (max-width: 768px) {
    .VacantJobs_Body{
        grid-template-columns: repeat(2, 1fr);
        width: 70vw;
    }
    .VacantJobs_Body .VacantJob_Card {
        margin: 0 0 20px 0;
        width: 230px;
        height: 220px;
        padding: 15px;
    }
    .VacantJob_Card h1 {
        font-size: 23px;
    }
    .VacantJob_Card h2 {
        font-size: 12px;
        font-weight: 400;
    }
}

@media only screen and (max-width: 426px) {
    .VacantJobs_Body{
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 30px;
    }
    .VacantJobs_Body .VacantJob_Card {
        width: 300px;
        height: 150px;
        padding: 13px;
    }
    .VacantJob_Card h1 {
        font-size: 18px;
    }
}

@media only screen and (max-width: 376px) {
    .VacantJobs_Body .VacantJob_Card {
        width: 240px;
        height: 180px;
    }
    .VacantJob_Card h1 {
        font-size: 16px;
    }
    .VacantJobs_Body {
        margin-top: 15px;
    }
}


@media only screen and (max-width: 321px) {
    .VacantJobs_Body .VacantJob_Card {
        width: 190px;
        margin: 0 2px 20px 1px !important;
        height: 220px;
        padding: 11px;
    }
    .VacantJob_Card h1 {
        font-size: 16px;
    }
}