.PrimaryHeader_Body {
    position: fixed;
    width: 100%;
    height: 67px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 !important;
    background: rgba( 255, 255, 255, 0.15 );
    backdrop-filter: blur( 12.5px );
    -webkit-backdrop-filter: blur( 12.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.Modal_Content{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
.Modal_Expert{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    border: 1px solid #0057C2;
    border-radius: 10px;
    background-color: rgba(0, 87, 194, 10%);
    color: #0057C2;
    font-weight: 600;
    font-size: 18px;
    padding: 20px 0;
    margin-bottom: 20px;
}

.Continue{
    align-self: center;
    width: 100%;
    height: 40px;
    border: 1px solid #0057C2;
    border-radius: 20px;
    background-color: rgba(0, 87, 194, 10%);
    color: #0057C2;
    font-weight: 600;
    font-size: 18px;
}

.Disabled{
    align-self: center;
    width: 100%;
    height: 40px;
    border: 1px solid #abcdf7;
    border-radius: 20px;
    background-color: rgba(0, 87, 194, 10%);
    color: #abcdf7;
    font-weight: 600;
    font-size: 18px;
}

.Modal_Expert .Icon, 
.Selected .Icon {
    padding-bottom: 10px;
}

.Selected {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 18px;
    padding: 20px 0;
    margin-bottom: 20px;
    border: 1px solid #FB5012;
    color: white;
    background-color: #FB5012;
}

path {
    margin-right: 20px;
}

.PrimaryHeader_Body .Menu_Show {
    display: none;
}

.PrimaryHeader_Logo {
    width: 70px;
}

.PrimaryHeader_Logo img {
    padding-left: 10px;
}


.PrimaryHeader_Search, 
.PrimaryHeader_Links {
    align-self: center;
}

Form .PrimaryHeader_Search_Text {
    height: 25px;
    width: 350px;
    border: 1px solid  #FB5012;
    border-radius: 20px;
    background-color: rgba(0, 87, 194, 10%);
    padding-left: 10px;
    color: #FB5012;
}

Form .PrimaryHeader_Search_Logo{
    height: 29px;
    width: 60px;
    border: 1px solid  #FB5012;
    border-radius: 20px;
    background-color: #FB5012;
    margin-left: -5%;
}

ul {
    display: flex;
    list-style: none;
    padding: 0;
}

ul li {
    padding: 5px;
}

ul li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: #0057C2;}

ul li a:hover, ul li a:active {
    color: #FB5012;
}

.Buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-right: 25px;
}

.PrimaryHeader_Links_Log_In {
    align-self: center;
    width: 100px;
    height: 30px;
    border: 1px solid #0057C2;
    border-radius: 20px;
    background-color: rgba(0, 87, 194, 10%);
    color: #0057C2;
    font-weight: 600;
}

.PrimaryHeader_Links_Log_In:hover{
    border: 1px solid #FB5012;
    color: white;
    background-color: #FB5012;
}

.PrimaryHeader_Links_Sign_Up {
    align-self: center;
    width: 100px;
    height: 30px;
    border: 1px solid #FB5012;
    border-radius: 20px;
    background-color: #FB5012;
    color: white;
    font-weight: 600;
}

.PrimaryHeader_Links_Sign_Up:hover {
    border: 1px solid #0057C2;
    background-color: rgba(0, 87, 194, 10%);
    color: #0057C2;
}


/* A media query. It is saying that if the screen is less than Xpx. */
@media only screen and (max-width: 1024px)  {
    Form .PrimaryHeader_Search_Text {
        width: 250px;
    }
    ul li a {
        font-size: 16px;
    }
    .Modal_Expert {
        padding: 15px 0;
        margin-bottom: 15px;
    }
}

@media only screen and (max-width: 908px)  {
    Form .PrimaryHeader_Search_Text {
        width: 230px;
    }
    ul li a {
        font-size: 14px;
    }
    .PrimaryHeader_Links_Log_In,
    .PrimaryHeader_Links_Sign_Up{
        width: 70px;
        font-size: 12px;
    }
}

@media only screen and (max-width: 812px) {
    ul li a {
        font-size: 13px;
    }
}

@media only screen and (max-width: 786px)  {
    Form .PrimaryHeader_Search_Text {
        width: 200px;
    }
    ul {
        margin-left: -30px;
    }
    ul li a {
        font-size: 12px;
    }
}

@media only screen and (max-width: 730px)  {
    .PrimaryHeader_Body .Menu_Show {
        display: flex;
        padding-left: 10px;
        height: 250px;
    }
    Form .PrimaryHeader_Search_Text {
        width: 300px;
        margin-left: 50px;
    }
    .PrimaryHeader_Logo img {
        padding-left: 0;
    }
    .Show_Mobile_Logo {
        display: none;
    }
    ul {
       display: none;
    }
}

@media only screen and (max-width: 600px)  {
    Form .PrimaryHeader_Search_Text {
        width: 250px;
        margin-left: 50px;
    }
    .Buttons {
        margin-right: 15px;
        gap: 5px;
    }
}


@media only screen and (max-width: 528px){
    Form .PrimaryHeader_Search_Text {
        width: 200px;
        margin-left: 50px;
    }
}
@media only screen and (max-width: 500px)  {
    .PrimaryHeader_Body {
        display: flex;
        margin: 0 10px;
    }
    .PrimaryHeader_Search{
        display: none;
    }
    h1 {
        font-size: 16px;
    }
    .Modal_Expert {
        font-size: 14px;
        padding: 10px 0;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 376px){
    h1{
        font-size: 12px;
    }
    p {
        font-size: 10px;
    }
    .Modal_Expert {
        font-size: 12px;
    }
}
