.SecondaryHeader_Body{
    height: 62px;
    width: 100%;
    background-color: rgba(0, 87, 194, 10%);
    display: flex;

}

.SecondaryHeader_Body_Jobs{
    display: flex;
    justify-content: flex-start;
}

.SecondaryHeader_Jobs{
    font-size: 18px;
    padding: 20px 10px;
    color: #9A89B4;
}

.SecondaryHeader_All_Categories{
    width: 150px;
    height: 25px;
    padding: 20px 10px;
    margin-left: 6%;
    display: flex;
    justify-content: flex-end;
 
}

.SecondaryHeader_All_Categories Button{
    border: 1px solid #0057C2;
    border-radius: 10px;
    padding: 5px 15px 5px 15px;
    font-size: 12px;
    color: #0057C2;
    background-color: white;
}
