.Navbar {
    display: flex;
    justify-content: space-between;
}
.Navbar .ThisNav {
    max-height: 100px;
}

@media only screen and (max-width: 426px) {
    .Navbar{
        display: grid;
    }
    .Navbar .Links{
        font-size: 10px;
    }
    .Navbar .ExpertTopNavigation_Icons{
        margin-top: 5px;
        text-align: end;
    }
    .Navbar .ExpertTopNavigation_Icons .TheIcon {
        width: 10px;
    }
}

@media only screen and (max-width: 376px) {
    .Navbar .Links{
        font-size: 8px;
    }
}
@media only screen and (max-width: 321px) {
    .Navbar .Links{
        font-size: 7px;
    }
    .Navbar .ThisNav {
        margin-top: -20px !important;
    }
}