.Navbar {
    display: flex;
    justify-content: space-between;
    width: 80vw;
}
.Navbar .ExpertTopNavigation_Icons .TheIcon {
    padding: 0 20px 0 0;
}

@media only screen and (max-width: 1024px){
    .Navbar {
        margin: 0 10px;
        width: 78vw;
    }
}

@media only screen and (max-width: 768px){
    .Navbar {
        width: 70vw;
        margin-top: -10px;
    }
    .Navbar .ThisNav .Links {
       font-size: 12px;
    }
    .Navbar .ExpertTopNavigation_Icons .TheIcon {
        padding: 0 15px 0 0;
        font-size: 14px;
    }
}

@media only screen and (max-width: 426px) {
    .Navbar{
        display: grid;
        width: 80vw;
    }
    .Navbar .ThisNav .Links {
        font-size: 9.5px;
    }
    .Navbar .ExpertTopNavigation_Icons{
        margin-top: 5px;
        text-align: end;
    }
    .Navbar .ExpertTopNavigation_Icons .TheIcon {
        font-size: 12px;
    }
}

@media only screen and (max-width: 376px) {
    .Navbar .ThisNav .Links {
        font-size: 8px;
    }
}
@media only screen and (max-width: 321px) {
    .Navbar .ThisNav .Links {
        font-size: 6px;
    }
    .Navbar .ExpertTopNavigation_Icons .TheIcon {
        font-size: 10px;
    }
}