.ExpertSideNavigation,
.ClientSideNavigation {
    position: fixed;
    height: 100%;
    padding: 40px 0 0 30px;
    overflow-y: auto;
}

.ProfileInformation {
    display: flex;
}

.ProfileInformation img {
    width: 70px;
    height: 70px;
    border-radius: 35px;
    margin-right: 5px;
}
.ProfileInformation .Information{
    margin-top: 10px;
}

.ProfileInformation .Information h2{
    font-size: 18px;
}

.ProfileInformation .Information p{
    font-size: 10px;
    color: rgba(27, 27, 30, 0.29);
}

.ProfileInformation .Information em{
    font-size: 8px;
    color: #0057c2;
    border: 1px solid #0057c2;
    padding: 3px;
    border-radius: 10px;
}

.ExpertSideNavigation ul{
    list-style: none;
}

.ExpertSideNavigation ul li {
    display: none;
}

.tab-content{
    width: fit-content;
    height: fit-content;
}

.tab-content .Nav_Link_Inactive {
    margin: 0 0 55px 20px;
    text-decoration: none;
    color: black;
    display: flex;
    cursor: pointer;
}

.tab-content .Nav_Link_Active {
    margin: 0 0 55px 20px;
    text-decoration: none;
    color: #fb5012;
    display: flex;
    cursor: pointer;
}

.tab-content .fade #Navigation_Container{
    width: fit-content;
    height: fit-content;
}

.tab-content .fade #Navigation_Container img{
    width: 25px;
    height: 25px;
}

.tab-content .fade p {
    padding: 5px 0;
}

@media only screen and (max-width: 1024px) {
    .ExpertSideNavigation,
    .ClientSideNavigation {
        padding: 40px 0 0 10px;
    }
}

@media only screen and (max-width: 768px) {
    .ExpertSideNavigation,
    .ClientSideNavigation {
        padding: 40px 0 0 5px;
    }
}

@media only screen and (max-width: 426px) {
    #Navigation_Container p {
        display: none;
    }
    .ProfileInformation .Information h2,
    .ProfileInformation .Information p,
    .ProfileInformation .Information img{
        display: none;
    }  
    .ExpertSideNavigation,
    .ClientSideNavigation {
        padding: 40px 0 0 5px;
    }
    .ProfileInformation img {
        width: 50px;
        height: 50px;
        border-radius: 50px;
        margin-left: 5px;
    }
    .Navigation{
        width: 5% !important;
    }
}