.Body .Body_Components .Production_Page{
    text-align: center;
    overflow: hidden;
}
.Body .Body_Components .Production_Page img {
    width: 80vw;
    height: 40vw;
}

.Body .Body_Components .Production_Page h1 {
    color: black;
    font-size: 60px;
    margin-top: -30px;
}

@media only screen and (max-width: 769px) {
    .Body .Body_Components .Production_Page img {
        margin-top: -50px;
        width: 70vw;
        height: 50vw;
    }
    .Body .Body_Components .Production_Page h1 {
        font-size: 65px;
        word-wrap: break-word;
    }
}

@media only screen and (max-width: 436px) {
    .Body .Body_Components .Production_Page{
        margin: 40px 0;
    }
    .Body .Body_Components .Production_Page img {
        width: 70vw;
        height: 50vw;
    }
    .Body .Body_Components .Production_Page h1 {
        font-size: 40px;
        word-wrap: break-word;
    }
}

@media only screen and (max-width: 321px) {
    .Body .Body_Components .Production_Page{
        margin: 40px 0;
    }
    .Body .Body_Components .Production_Page img {
        width: 70vw;
        height: 100vw;
    }
    .Body .Body_Components .Production_Page h1 {
        font-size: 30px;
        word-wrap: break-word;
    }
}