.LogInForm_Body  {
    width: 100%;
    padding: 40px;
    background: rgba( 255, 255, 255, 0.1 );
    box-shadow: 0 2px 8px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 50px );
    -webkit-backdrop-filter: blur( 50px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    text-align: center;
    border-radius: 20px;
}

.LogInForm_Body .Form h1 {
    font-size: 34px;
    color: #0057C2;
}

.LogInForm_Body .Form p {
    font-size: 18px;
    color: #0057C2;
}

.Form .error {
    font-size: 10px;
    color: red;
    margin: 10px 0 -18px 5px;
}

.Form .Email, 
.Form .Password,
.Form .FirstName,
.Form .LastName {
    margin-top: 20px;
    border: 1px solid white;
    background-color: whitesmoke;
    border-radius: 15px;
    max-width: 300px;
    width: 100%;
    height: 34px;
    padding-left: 10px;
}

.Form .RememberMe_ForgotPassword {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.Form .RememberMe_ForgotPassword p {
    font-size: 12px;
}

.Form .LoginButton {
    border: none;
    background-color: #0057C2;
    border-radius: 10px;
    max-width: 310px;
    width: 100%;
    height: 34px;
    color: white;
    cursor: pointer;
    margin: 20px 0;
}

.Form .OtherLoginMethod {
    margin-top: 20px;
    width: 100%;
}

.Form .OtherLoginMethod .OtherLoginMethod_Google {
    margin-bottom: 20px;
    border: 1px solid rgba(251, 80, 18, 0.1);
    background-color: rgba(251, 80, 18, 0.1);
    border-radius: 15px;
    max-width: 310px;
    width: 100%;
    height: 40px;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
}
.Form .OtherLoginMethod .OtherLoginMethod_Google p {
    color: black;
    font-size: 14px;
    padding: 8px 0;
}

.Form .OtherLoginMethod .OtherLoginMethod_Apple {
    border: 1px solid white;
    background-color: white;
    border-radius: 15px;
    max-width: 310px;
    width: 100%;
    height: 40px;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
}
.Form .OtherLoginMethod .OtherLoginMethod_Apple p {
    color: #0057C2;
    font-size: 14px;
    padding: 10px 0;
}

.Form .OtherLoginMethod Button .Icon {
    width: 40px;
    height: 28px;
    padding: 3px 0;
}

.LogInForm_Body h4 {
    font-size: 12px;
    text-align: center;
    margin-top: 20px;
    color: #0057C2;
}

.LogInForm_Body h4 em {
    color: #FB5012;
}

@media only screen and (max-width: 1024px) {
    .LogInForm_Body h1 {
        font-size: 30px;
    }
    .LogInForm_Body p {
        font-size: 14px;
    }
}

/* @media only screen and (max-width: 426px) {
    .LogInForm_Body {
        width: 100%;
    }
} */

@media only screen and (max-width: 427px) {
    .LogInForm_Body {
        width: 325px !important;
        margin-left: 0;
        box-shadow: none;
        border: 0;
        background: none;
        border-radius: 0;
        padding: 10px;
        backdrop-filter: blur(0);
    }
}

@media only screen and (max-width: 376px) {
    .LogInForm_Body {
        width: 320px !important;
        padding: 30px;
    }
}


@media only screen and (max-width: 341px) {
    .Form .Email,
    .Form .Password,
    .Form .FirstName,
    .Form .LastName {
        width: 250px;
    }
    .LogInForm_Body .Form h1 {
        font-size: 20px;
    }
    .LogInForm_Body .Form p {
        font-size: 10px;
    }
    .Form .LoginButton {
        width: 260px;
    }
    .Form .OtherLoginMethod {
        width: 260px;
    }
}

