.WhyGetEmployed_Body {
    margin-top: 40px;
    width: 100%;
}

.WhyGetEmployed_Body h1 {
    margin-left: 20px;
    padding-top: 50px;
    color: #0057C2;
    font-size: 40px;
}

.WhyGetEmployed_Body p {
    margin-left: 20px;
    padding-top: 10px; 
    color: #FB5012;
}

.WhyGetEmployed_Body .Circle_Image_Container {
    display: flex;
    justify-content: space-around;
}

.WhyGetEmployed_Body .Circle_Image_Container .Circle_Image{
    margin: 40px 0;
}

.WhyGetEmployed_Body .Circle_Image_Container .Circle_Image .Circle{
    width: 200px;
    height: 200px;
    background-color: rgba(0, 87, 194, 0.3);
    border-radius: 100px;
}

.WhyGetEmployed_Body .Circle_Image_Container .Circle_Image img{
    width: 150px;
    height: 150px;
    margin-top: -150px;
    margin-left: 25px;
}

.WhyGetEmployed_Body .Mission_Container{
    margin-left: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.WhyGetEmployed_Body .Mission_Container .Mission{
    width: 350px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0 0 10px;
    margin-bottom: 50px;
}

.WhyGetEmployed_Body .Mission_Container .Mission .Image_Name {
    display: flex;
    justify-content: left;
}

.WhyGetEmployed_Body .Mission_Container .Mission .Image_Name img {
    width: 30px;
    height: 30px;
}

.WhyGetEmployed_Body .Mission_Container .Mission .Image_Name h4{
    font-size: 18px;
    color: #FB5012;
    margin-left: 10px;
    margin-top: 5px;
}

.WhyGetEmployed_Body .Mission_Container .Mission p {
    color: #0057C2;
    margin-left: -1px;
    font-size: 18px;
}

@media only screen and (max-width: 1024px) {
    .WhyGetEmployed_Body .Mission_Container .Mission{
        width: 300px;
    }
}

@media only screen and (max-width: 769px) {
    .WhyGetEmployed_Body .Mission_Container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 426px) {
    .WhyGetEmployed_Body h1 {
        font-size: 25px;
    }
    .WhyGetEmployed_Body .Circle_Image_Container .Circle_Image:nth-child(2),
    .WhyGetEmployed_Body .Circle_Image_Container .Circle_Image:nth-child(3){
        display: none;
    }
    .WhyGetEmployed_Body .Mission_Container{
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 426px) {
    .WhyGetEmployed_Body h1 {
        font-size: 23px;
    }
    .WhyGetEmployed_Body p {
        font-size: 12px;
    }
    .WhyGetEmployed_Body .Mission_Container .Mission .Image_Name h4{
        font-size: 16px;
    }
    .WhyGetEmployed_Body .Mission_Container .Mission{
        margin-bottom: 0;
    }
    .WhyGetEmployed_Body .Mission_Container .Mission p {
        font-size: 12px;
    }
    .WhyGetEmployed_Body .Mission_Container .Mission{
        width: 250px;
    }
}